<main>
    <div class="px-4 pt-2 pb-5 my-0 text-center">
        <img class="d-block mx-auto my-4" 
        src="/images/book.svg" alt="" 
        width="72" height="57">
        <h1 class="display-5 fw-bold text-body-emphasis">Livros que eu li</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">A seguir, apresento uma lista dos livros que tive a oportunidade de ler, acompanhada pela imagem da capa de cada obra, uma breve descrição do livro, a nota que atribuí à leitura e minhas anotações pessoais que refletem minhas impressões sobre a obra.</p>
        </div>
      </div>
</main>